canvas{
  position: fixed;
  top: 0;
  left: 0;
}

main{
  position: absolute;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

section{
  background-color: rgba(195, 224, 229, 0.8);
  grid-column: 2/8;
  margin: 10px;
}